<div class="px-4 py-5 my-5 text-center mt-5">
  <img [src]="questionMarkLogo" alt="" class="d-block mx-auto mb-4" height="57" width="72">
  <h1 class="display-5 fw-bold">Why this page exists?</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">There is ablolutely no reason for this page to exist... The reason why I made this page is to
      train my web-dev skill and im huge fan of the show... </p>
    <p class="lead mb-4">Thats all if you have any question than you can contact my on my FB page.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a class="btn btn-primary btn-lg px-4 gap-3" routerLink="/main" type="button">Back to HOME</a>
      <a class="btn btn-outline-secondary btn-lg px-4" routerLink="/search" type="button">API Search</a>
    </div>
  </div>
</div>
