<div class="container" joyrideStep="step1" style="max-width: 1100px;">
  <header
    class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"
    title="Hi, and welcome!">


    <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none" href="/"
       routerLink="/main">
      <img [src]="shipLogo" alt="logo" class="img-fluid" style="width:70px; padding-right: 15px">
      <img [src]="headerLogo" alt="header-logo" class="img-fluid" style="width:150px; padding-right: 15px">
    </a>
    <h1 joyrideStep="step2">Super COOL</h1>

    <ul class="nav nav-pills">
      <li class="nav-item"><a (click)="startTour()" aria-current="page"
                              class="nav-link active search-btn2 css-selector2 mx-2"
                              href="#">?</a>
      </li>
      <li class="nav-item"><a aria-current="page" class="nav-link active search-btn css-selector" href="#"
                              routerLink="/search">Search</a>
      </li>
      <li class="nav-item"><a class="nav-link" routerLink="/features">Features</a></li>
      <li class="nav-item"><a class="nav-link" href="#where-to-watch">Where to watch?</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/faq">FAQs</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/about">About</a></li>
    </ul>
  </header>
</div>
