:root {
  --colour1: #f1c40f;
  --colour2: #2c3e50;
  --speed: 4s;
}

html, body {
  height: 100%;
}

@keyframes slide {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 113px;
  }
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .bar {
  min-height: 100px;
  border-radius: 10px;
  width: calc(113px * 4);
  box-shadow: 0px 10px 13px -6px rgba(44, 62, 80, 1);
  background-color: #2c3e50;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 40px, #f1c40f 40px, #f1c40f 80px);
  animation: slide 4s linear infinite;
  will-change: background-position;
}

@media only screen and (max-width: 450px) {
  .container .bar {
    width: calc(113px * 3);
  }
}

@media only screen and (max-width: 350px) {
  .container .bar {
    width: calc(113px * 2);
  }
}

.main-work-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 500px;
  padding: 50px 0 0 0;
}

.cog-image {
  margin: 0 auto;
  padding: 50px 0 50px 0;
  width: 100px;
  display: flex;
  justify-content: center;
  animation: my-rotation 4s linear infinite;
}

@keyframes my-rotation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(90deg);
  }
}
