<app-header></app-header>

<!--<app-home></app-home>-->
<!--CREATE FORM THAT TAKES USER INPUTS AND SEARCH BAR-->

<div class="container" style="max-width: 1100px">
  <div class="input-group mb-3">
    <input
      (change)="logData($event)"
      [ngModel]="searchInput"
      class="form-control"
      name="searchInput"
      placeholder="Recipient's username"
      type="text"
    >
    <button class="btn btn-outline-secondary" id="button-addon2" type="button">Search</button>
  </div>

  <button (click)="logData($event)" class="btn btn-primary">Get Data</button>
  <main class="d-flex flex-nowrap">

    <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
      <h4>Filters</h4>
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button aria-controls="collapseOne" aria-expanded="true" class="accordion-button"
                    data-bs-target="#collapseOne"
                    data-bs-toggle="collapse" type="button">
              Status
            </button>
          </h2>
          <div aria-labelledby="headingOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample"
               id="collapseOne">
            <div class="accordion-body">
              <button *ngFor="let status of statusFilters" class="btn btn-outline-primary m-1">{{status}}</button>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button aria-controls="collapseTwo" aria-expanded="false" class="accordion-button collapsed"
                    data-bs-target="#collapseTwo" data-bs-toggle="collapse" type="button">
              Species
            </button>
          </h2>
          <div aria-labelledby="headingTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample"
               id="collapseTwo">
            <div class="accordion-body">
              <button *ngFor="let species of speciesFilters" class="btn btn-outline-info m-1">{{species}}</button>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button aria-controls="collapseThree" aria-expanded="false" class="accordion-button collapsed"
                    data-bs-target="#collapseThree" data-bs-toggle="collapse" type="button">
              Gender
            </button>
          </h2>
          <div aria-labelledby="headingThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample"
               id="collapseThree">
            <div class="accordion-body">
              <button *ngFor="let gender of genderFilters" class="btn btn-outline-danger">{{gender}}</button>
            </div>
          </div>
        </div>
      </div>
      <hr>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div *ngFor="let name of dataNames" class="col">
        <div class="card">
          <img
            alt="..."
            class="card-img-top" src="">
          <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>

          </div>
        </div>
      </div>
    </div>

  </main>


</div>





