<div class="container py-4">
  <section style="overflow: auto">
    <joyrideStep [stepContent]="joyContent5" joyrideStep="step5" stepPosition="center"></joyrideStep>
    <ng-template #joyContent5>
      <div><h1>Hello, this is your final step!</h1></div>
    </ng-template>
  </section>
  <div class="p-5 mb-4 bg-light rounded-3 main-shadow">
    <div class="parent">
      <div class="div1">
        <h1 class="display-5 fw-bold name-title">Rick and Morty</h1>
        <p class="col-md-12 fs-4"><span class="names-characters">Rick and Morty</span> is a show created by <span
          class="names-authors">Justin
          Roiland
          and Dan Harmon</span>, and it's based on
          the characters Dr. Emmett Brown and Marty McFly in Back to the Future (1985). Rick is an alcoholic sociopath
          and scientist. Morty is a dimwit grandson who takes on absurd adventures.</p>
        <a class="btn btn-primary btn-lg d-flex justify-content-center" routerLink="/search" style="max-width: 270px">Search
          characters!
          <img [src]="rickLogo"
               alt="rick and morty logo" style="width: 30px; margin-left: 10px"/>
        </a>
        <div class="d-flex justify-content-center align-self-center align-items-center">
          <h1 class="mt-5 p-1 text-center api-text lh-base">API: ONLINE</h1>
        </div>
      </div>
      <div class="div2">
        <div class="main-image-container">
          <img [src]="mainImage" alt="main rick and morty image" class="mainImage"/>
        </div>
      </div>
    </div>

  </div>

  <div class="row align-items-md-stretch">
    <div class="my-container">
      <app-ship-object></app-ship-object>
    </div>
    <h1 id="where-to-watch">Where to watch</h1>
    <div class="col-md-6">
      <div class="h-100 p-5 text-bg-dark rounded-3 d-flex align-items-center main-shadow-two">
        <section>
          <img [src]="netflixLogo" alt="netflix logo" class="company-logos mb-3">
          <p>You can watch this amazing show on Netflix</p>
          <a class="btn btn-outline-light p-2" href="https://www.netflix.com" type="button">Watch on Netflix <img
            [src]="netflixLogoBTN" alt="netflix logo" style="max-width: 25px"/> </a>
        </section>
        <div class="container-left">
          <img [src]="fuckU" alt="just rick doing rick things" class="img-fluid">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-light border rounded-3 d-flex align-items-center main-shadow-two">
        <section>
          <img [src]="hboLogo" alt="netflix logo" class="company-logos mb-3">
          <p>You can watch this amazing show on HBO Max</p>
          <a class="btn btn-outline-secondary p-2" href="https://www.hbomax.com/" type="button">Watch on HBO MAX <img
            [src]="hboLogoBTN" alt="just a logo of hbo" style="max-width: 35px"> </a>
        </section>
        <div class="container-right">
          <img [src]="mortyAndRick" alt="just rick doing rick things" class="img-fluid">
        </div>
      </div>
    </div>
  </div>

  <div class="container py-5 pb-0" id="custom-cards">
    <h2 class="pb-2 border-bottom">Main characters</h2>
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div class="col">
        <div class="card card-cover overflow-hidden text-bg-dark rounded-4 shadow-lg">
          <div class="d-flex flex-column text-white text-shadow-1">
            <img [src]="cardImage_2" alt="image of morty">
            <h2 class="text-center">Morty</h2>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-cover overflow-hidden text-bg-dark rounded-4 shadow-lg">
          <div class="d-flex flex-column text-white text-shadow-1">
            <img [src]="cardImage_1" alt="image of rick">
            <h2 class="text-center">Rick</h2>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-cover overflow-hidden text-bg-dark rounded-4 shadow-lg">
          <div class="d-flex flex-column text-white text-shadow-1">
            <img [src]="cardImage_3" alt="image of ship">
            <h2 class="text-center">Ship</h2>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-cover overflow-hidden text-bg-dark rounded-4 shadow-lg">
          <div class="d-flex flex-column text-white text-shadow-1">
            <img [src]="cardImage_4" alt="">
            <h2 class="text-center">Jerry & Meeseeks</h2>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-cover overflow-hidden text-bg-dark rounded-4 shadow-lg">
          <div class="d-flex flex-column text-white text-shadow-1">
            <img [src]="cardImage_5" alt="">
            <h2 class="text-center">Pickle</h2>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-cover overflow-hidden text-bg-dark rounded-4 shadow-lg">
          <div class="d-flex flex-column text-white text-shadow-1">
            <img [src]="cardImage_6" alt="summer">
            <h2 class="text-center">Beth</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a class="nav-link px-2 text-muted" href="#" routerLink="/home">Home</a></li>
        <li class="nav-item"><a class="nav-link px-2 text-muted" href="#">Search</a></li>
        <li class="nav-item"><a class="nav-link px-2 text-muted" href="#">Features</a></li>
        <li class="nav-item"><a class="nav-link px-2 text-muted" href="#">Where to watch?</a></li>
        <li class="nav-item"><a class="nav-link px-2 text-muted" href="#">FAQs</a></li>
        <li class="nav-item"><a class="nav-link px-2 text-muted" routerLink="/about">About</a></li>
      </ul>
      <p class="text-center text-muted">© 2022 Company, Inc</p>
    </footer>
  </div>
</div>


