<div class="container" style="max-width: 1100px">
  <div class="input-group mb-3">
    <input
      (change)="logData($event)"
      [ngModel]="searchInput"
      class="form-control"
      name="searchInput"
      placeholder="Search for character, location, name or God!"
      type="text"
    >
    <button class="btn btn-outline-secondary" id="button-addon2" type="button ">Search</button>
  </div>

  <button (click)="clearData()" class="btn btn-secondary m-3">Clear Filter</button>
  <main class="d-flex">


    <div class="d-flex flex-column flex-shrink-0 p-3 bg-light mine-mobile" style="width: 280px;">
      <h4>Filters</h4>
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button aria-controls="collapseOne" aria-expanded="true" class="accordion-button"
                    data-bs-target="#collapseOne"
                    data-bs-toggle="collapse" type="button">
              Status
            </button>
          </h2>
          <div aria-labelledby="headingOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample"
               id="collapseOne">
            <div class="accordion-body">
              <button (click)="getFilterStatus($event)" *ngFor="let status of statusFilters"
                      [id]="status" class="btn btn-outline-primary m-1">{{status}}</button>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button aria-controls="collapseTwo" aria-expanded="false" class="accordion-button collapsed"
                    data-bs-target="#collapseTwo" data-bs-toggle="collapse" type="button">
              Species
            </button>
          </h2>
          <div aria-labelledby="headingTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample"
               id="collapseTwo">
            <div class="accordion-body">
              <button (click)="getFilterSpecies($event)" *ngFor="let species of speciesFilters"
                      [id]="species" class="btn btn-outline-info m-1">{{species}}</button>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button aria-controls="collapseThree" aria-expanded="false" class="accordion-button collapsed"
                    data-bs-target="#collapseThree" data-bs-toggle="collapse" type="button">
              Gender
            </button>
          </h2>
          <div aria-labelledby="headingThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample"
               id="collapseThree">
            <div class="accordion-body">
              <button (click)="getFilterGender($event)" *ngFor="let gender of genderFilters" [id]="gender"
                      class="btn btn-outline-danger">{{gender}}</button>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <small class="text-muted">Only <b>OR</b> many filter can be applied at the same time!</small>
    </div>

    <div>
      <div class="row mx-4 g-4">
        <div *ngFor="let element of results" class="col col-sm">
          <div class="card h-100 card-style">
            <img alt="..." class="card-img-top card-width" src="{{element.image}}">
            <span
              [style]="element.status === 'Alive' ? 'color: #9ddf9d' : element.status === 'Dead' ? 'color: #f57474' : 'color: white'"
              class="badge-style position-absolute m-3 d-flex">{{element.status}}</span>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <h5 class="card-title name-style m-0">{{element.name}}</h5>
                <span class="id-style" style="font-weight: bolder">ID: <p class="d-inline">{{element.id}}</p></span>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <h5 class="card-title name-style m-0">Species: </h5>
                <span class="id-style" style="font-weight: bolder">{{element.species}}</span>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <h5 class="card-title name-style m-0">Gender: </h5>
                <span class="id-style" style="font-weight: bolder">{{element.gender}}</span>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <h5 class="card-title name-style m-0">Location: </h5>
                <span class="id-style loc" style="font-weight: bolder">{{element.location.name}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section *ngIf="showError" class="text-center">
      <div class="card text-bg-primary text-center p-3">
        <figure class="mb-0">
          <blockquote class="blockquote">
            <p>There are no characters based on your properties</p>
          </blockquote>
          <figcaption class="blockquote-footer mb-0 text-white">
            Someone famous in <cite title="Source Title">Source Title</cite>
          </figcaption>
        </figure>
      </div>
    </section>
  </main>
</div>

